<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.krevin.crockpod"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL"/>

    <application
        android:name=".CrockpodApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".alarm.AlarmListActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".alarm.SetAlarmActivity"/>
        <activity
            android:name=".alarm.AlarmRingingActivity"
            android:clearTaskOnLaunch="true"
            android:launchMode="singleTop"/>

        <receiver android:name=".alarm.AlarmReceiver"/>

        <service android:name=".MediaPlayerService"/>
    </application>

</manifest>